apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: learning-platform
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/manjeetsingh78/learning-platform.git
    targetRevision: main
    path: k8s

  destination:
    server: https://kubernetes.default.svc
    namespace: learning-platform

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
