apiVersion: v1
kind: Service
metadata:
  name: learning-platform-backend
  namespace: learning-platform
spec:
  type: ClusterIP
  selector:
    app: learning-platform-backend
  ports:
    - name: http
      port: 3000
      targetPort: 3000
