apiVersion: apps/v1
kind: Deployment
metadata:
  name: learning-platform-backend
  namespace: learning-platform
  labels:
    app: learning-platform-backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: learning-platform-backend
  template:
    metadata:
      labels:
        app: learning-platform-backend
    spec:
      containers:
        - name: backend
          # This will be overwritten by your GitHub Actions sed command
          image: manjeetsingh23/learning-platform-backend:4db2de0b29711f6c43fc6c2e4bfbbac48a4e478e
          ports:
            - containerPort: 3000
          env:
            - name: NODE_ENV
              value: "production"
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
