apiVersion: apps/v1
kind: Deployment
metadata:
  name: learning-platform-backend
  namespace: learning-platform
  labels:
    app: learning-platform-backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: learning-platform-backend
  template:
    metadata:
      labels:
        app: learning-platform-backend
    spec:
      containers:
        - name: backend
          # This will be overwritten by your GitHub Actions sed command
          image: manjeetsingh23/learning-platform-backend:692d0d2ea0c29cfd7ce4f9d9009d983c120c850c
          ports:
            - containerPort: 3000
          env:
            - name: NODE_ENV
              value: "production"
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
