containers:
  - name: backend
    image: manjeetsingh23/learning-platform-backend:919a938538b1757314da8768c9246b94ccc1bfde
    ports:
      - containerPort: 3000

    env:
      - name: NODE_ENV
        value: "production"

      - name: FIREBASE_SERVICE_ACCOUNT
        valueFrom:
          secretKeyRef:
            name: firebase-secret
            key: serviceAccount.json

      - name: FIREBASE_DATABASE_URL
        value: "https://learning-platform-13df1-default-rtdb.firebaseio.com"

    resources:
      requests:
        cpu: "100m"
        memory: "128Mi"
      limits:
        cpu: "500m"
        memory: "512Mi"
