apiVersion: apps/v1
kind: Deployment
metadata:
  name: learning-platform-backend
  namespace: learning-platform
spec:
  replicas: 2
  selector:
    matchLabels:
      app: learning-platform-backend
  template:
    metadata:
      labels:
        app: learning-platform-backend
    spec:
      containers:
        - name: backend
          image: manjeetsingh23/learning-platform-backend:b2db3b9a990e009571cb100dfd9e2d0b7c203098
          ports:
            - containerPort: 3000
          env:
            - name: NODE_ENV
              value: "production"

            - name: FIREBASE_SERVICE_ACCOUNT
              valueFrom:
                secretKeyRef:
                  name: firebase-secret
                  key: serviceAccount.json

            - name: FIREBASE_DATABASE_URL
              value: "https://learning-platform-13df1-default-rtdb.firebaseio.com"

          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
